body {
	margin-top: 25px;
}

.link-mr {
    margin-right: 30px;
}

#bird {
    position: absolute;
    bottom: 0;
    left: calc(50vw - min(460px, 100vh - 200px) / 2);
    z-index: -1;
    user-select: none;
    height: calc(min(460px, 100vh - 200px));
}

footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
